section.about
  .container
    .row.mdl__mobile
      .about__alignment.col-sm-4
        img.img-responsive(src="images/file.png", alt="file")
      section.about__main.col-sm-7.col-sm-offset-1.mdl__layout
        header.about__main-title
          h2
            | Lorem ipsum dolor sit amet
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          hr

        ul.about__main-panel
          li.about-panel__item
            a(href="#").fa-stack.fa-2x
              span.fa.fa-circle-o.fa-stack-2x
              span.fa.fa-pencil.fa-stack-1x
          li.about-panel__item
            a(href="#").fa-stack.fa-2x
              span.fa.fa-circle-o.fa-stack-2x
              span.fa.fa-commenting.fa-stack-1x