section.features
  .container
    .row
      ul.features-slider
        li.features-slider__item.features-slider__item--teal500
          .features-slide
            section.features-slide__header
              h2
                | The Modern Era of Web Designing
              p
                | We make wireframe ultra fast,leak proof
            img(src="images/features-1.png", alt="screen")
        li.features-slider__item.features-slider__item--amber500
          .features-slide
            section.features-slide__header.features-slide__header--gray900
              h2
                | The Modern Era of Web Designing
              p
                | We make wireframe ultra fast,leak proof
            img(src="images/features-1.png", alt="screen")
        li.features-slider__item.features-slider__item--blue500
          .features-slide
            section.features-slide__header
              h2
                | The Modern Era of Web Designing
              p
                | We make wireframe ultra fast,leak proof
            img(src="images/features-1.png", alt="screen")