footer.page-footer
  .container
    .row
      .col-sm-8
        .copyright(href="#")
          img.copyright__logo(src="images/brand.png", alt="Logotype")
          a.copyright__home(href="#")  Ftat Mate
          span.copyright__border |
          span.copyright__right(href="#")
            | Designed By #[a.copyright__link(href="#") WWW.CSSAUTHOR.COM]

      .col-sm-4
        ul.social-group
          li.social-group__item
            a(href="#").social-group__link
              i.fa.fa-twitter
          li.social-group__item
            a(href="#").social-group__link
              i.fa.fa-facebook
          li.social-group__item
            a(href="#").social-group__link
              i.fa.fa-linkedin
          li.social-group__item
            a(href="#").social-group__link
              i.fa.fa-google-plus
