section.previews
  section.previews__header
    h2
      | A wireframe is the primitive skeleton of your website.

  #previewsFilter.previews__slider-inner(data-slider-filter)
    .container
      .previews-slider
        #previewsControls.previews-slider__panel(data-slider-controls)
          button#previewsButton.previews-slider__btn(data-slider-paused)

        ul.previews-slider__list.mdl__layout
          li.previews-slider__item
            img(src="images/previews-1.jpg", alt="scene")
          li.previews-slider__item
            img(src="images/previews-1.jpg", alt="scene")
          li.previews-slider__item
            img(src="images/previews-1.jpg", alt="scene")