section.pricing
  .container
    .row
      section.pricing__header.col-xs-12
        h2
         | A wireframe is the primitive skeleton of your website.
        p
         | Pick a plan from below to get started! Already 20000+ websites and webprojects have been successfully wireframed with HotGloo.

      .pricing__panels.col-xs-10.col-xs-offset-1.text-center
        .row
          .col-sm-4
            .panel.panel-primary.panel--free
              .panel-heading.mdl__layout
                | Free
              ul.list-group.mdl__layout
                li.list-group-item.list-group__cost
                  | $0/Month
                  span
                li.list-group-item 1 Project
                li.list-group-item 5 Members
                li.list-group-item 5 GB
              a(href="#").panel__btn.mdl__layout
                | Sign Up

          .col-sm-4.mdl.mdl--layout
            .panel.panel-success.panel--pro
              .panel-heading.mdl__layout
                | Professional
                span.panel__check
                  i.fa.fa-check
              ul.list-group.mdl__layout
                li.list-group-item.list-group__cost
                  | $50/Month
                li.list-group-item 20 Project
                li.list-group-item 50 Members
                li.list-group-item 100 GB
              a(href="#").panel__btn.mdl__layout
                | Buy Now

          .col-sm-4.mdl.mdl--layout
            .panel.panel-info.panel--enter
              .panel-heading.mdl__layout
                | Enterprise
              ul.list-group.mdl__layout
                li.list-group-item.list-group__cost
                  | $90/Month
                  span
                li.list-group-item Unlimitted
                li.list-group-item Unlimitted
                li.list-group-item 500 GB
              a(href="#").panel__btn.mdl__layout
                | Buy Now