//- Starting template pages
extends _base

block title
  title Flat Mate

block header
  include layouts/_header

//- Section main
block content
  main.main-page
    include layouts/_about
    include layouts/_features
    include layouts/_pricing
    include layouts/_previews
    include layouts/_feedback


block footer
  include layouts/_footer