//- ***************************
//-       Extends head
//- ---------------------------

//- CDN libs
//- --------------------------
link(href='https://fonts.googleapis.com/css?family=Roboto:400,700,500,300', rel='stylesheet', type='text/css')



//- Styles
//- --------------------------
// build:css css/main.min.css
//- vendor:css
//- endinject

//- main:css
link(rel="stylesheet", href="css/main.css")
//- endinject
// endbuild

