//- ***************************
//-     Scripts for pages
//- ---------------------------

// build:js js/vendor.min.js
//- vendor:js
script(src="../bower_components/jquery/dist/jquery.min.js")
script(src="../bower_components/slick-carousel/slick/slick.min.js")
script(src="../bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js")
//- endinject
// endbuild

// build:js js/app.min.js
//- controllers:js
script(src="js/controllers/app.js")
//- endinject
// endbuild

// build:js js/main.min.js
//- main:js
script(src="js/main.js")
script(src="js/plugins.js")
//- endinject
// endbuild