footer#contacts.page-footer
  .row
    .col-md-6
      .page-footer__map
        img(src="images/map@1x.png", alt="Map", width='1319')
        span.map-label.wow.bounceInUp(href="#")
          i.icon-map-label(
            data-svg, data-src="images/icons/location.svg"
          )

  .container
    .row
      section.page-footer__box.col-md-5.col-md-push-7
        .page-footer__contacts
          .contacts-default
            p.contacts-default__address
              | 90802 California #[br]
              | Long beach #[br]
              | PO Box 68789 #[br]
              | 300 East Ocean #[br]
              | Boulevard
            p.contacts-default__links
              a.contacts__number.-under(
                href="tel:+6493456758"
                ) +64 9 345 6758
              a.contacts-default__email.-under(
                href="mailto:info@dsgn-studio.com"
              ) info@dsgn-studio.com


        .page-footer__logo
          a.logo(href="#")
            span.logo__image.flash(
              data-svg, data-src="images/logo.svg", alt="Studio Design"
            )
            | ASSOCIATES#[br]
            | STUDIO#[br]
            | DESIGN


        .page-footer__social
          ul.social-links
            li.social-links__item
              a.social-links__link(href="#")
                span.icon-social.icon-facebook(
                  data-svg, data-src="images/icons/facebook.svg"
                )
            li.social-links__item
              a.social-links__link(href="#")
                span.icon-social.icon-twitter(
                  data-svg, data-src="images/icons/twitter.svg"
                )
            li.social-links__item
              a.social-links__link(href="#")
                span.icon-social.icon-linkedin(
                  data-svg, data-src="images/icons/linkedin.svg"
                )
            li.social-links__item
              a.social-links__link(href="#")
                span.icon-social.icon-google(
                  data-svg, data-src="images/icons/google.svg"
                )

    .row
      .page-footer__copy.col-md-5.col-md-push-7
        | &copy;
        small
         |  2014  DSGN. All rights reserved - Designed by
         a.page-footer__link(href="#")  theuncreativelab.com

