#news.news
  section.section-box.section-box--news
    h2.section-box__title News

  .container
    .news__list.row
      .col-sm-6.col-md-4.col-md-offset-4
        article.news__item
          header.news__header
            h3.news__title Mauris et dui sed justo placerat tristique.
            time.news__date(datetime="2014-07-11") 11.07.2014
          figure.news__main
            a.news__image.-img-hover(href="#")
              img(src="images/news-1@1x.jpg", alt="New")
            figcaption.news__descr Maecenas imperdiet nisi lorem, sed fermentum tortor pretium eget. Sed mollis lacus quis nunc cursus cursus. Quisque et magna sit amet sapien fermentum scelerisque eu id massa. Mauris ornare massa vel mauris tempus, vitae tempus urna tincidunt.
          a.news__more.-under(href="#") Read more

      .col-sm-6.col-md-4
        article.news__item
          header.news__header
            h3.news__title Proin vehicula nibh massa
            time.news__date(datetime="2014-06-11") 11.06.2014
          figure.news__main
            a.news__image.-img-hover(href="#")
              img(src="images/news-2@1x.jpg", alt="New")
            figcaption.news__descr Praesent non mauris nec orci scelerisque faucibus. Nulla ac varius est. Aenean auctor nisl elit, nec sollicitudin lectus iaculis sed. Maecenas aliquam ligula vitae pharetra scelerisque.
          a.news__more.-under(href="#") Read more