#projects.projects
  ul.projects__list.row
    include include/_sortbar

    li.projects__item.project.col-md-4.project--lg
      figure.project__image
        img(src="images/project/project-1@1x.jpg", alt="Project")
      section.project__inner.project__inner--lg-1
        header
          h3.project__title FONDUE
        ul.project__main
          li.project__item
            | Project Assistant:
            a.project__link(href="#")  Francesco Dompieri
          li.project__item
            | Material:
            span  Glass and Metal
          li.project__item
            | Typology:
            span  Suspension lamp
          li.project__item
            | Client:
            a.project__link(href="#")  David Design
          li.project__item
            | Year:
            span  2014
        footer.project__stats
          a.project__view(href="#")
            span.icon-view(data-svg, data-src="images/icons/link.svg")
            |  view project
          a.project__like(href="#")
            span.icon-like(data-svg, data-src="images/icons/heart.svg")
            |  + 200


    li.projects__item.project.col-md-4.project--xs
      figure.project__image
        img(src="images/project/project-2@1x.jpg", alt="Project")
      section.project__inner.project__inner--lg-2
        header
          h3.project__title Potter
        ul.project__main.project
          li.project__item
            strong FOR
            span  STELTON
            p.project__descr
              |  Potter focuses on the functionality and process of preparing tea. a big sieve allows the flavor of to evenly brewed.
        footer.project__stats
          a.project__view(href="#")
            span.icon-view(data-svg, data-src="images/icons/link.svg")
            |  view project
          a.project__like(href="#")
            span.icon-like(data-svg, data-src="images/icons/heart.svg")
            |  + 200


    li.projects__item.project.col-md-4.project--md
      figure.project__image
        img(src="images/project/project-3@1x.jpg", alt="Project")
      section.project__inner.project__inner--lg-3
        header
          h3.project__title Tabano
        ul.project__main
          li.project__item
            | Designer:
            a.project__link(href="#")  Patricia Urquiola
          li.project__item
            | Typology:
            span  Armchairs
          li.project__item
            | Client:
            a.project__link(href="#")  B&B ITALIA
          li.project__item
            | Year:
            span  2014
        footer.project__stats
          a.project__view(href="#")
            span.icon-view(data-svg, data-src="images/icons/link.svg")
            |  view project
          a.project__like(href="#")
            span.icon-like(data-svg, data-src="images/icons/heart.svg")
            |  + 200


    li.projects__item.project.col-md-3.project--md
      figure.project__image
        img(src="images/project/project-4@1x.jpg", alt="Project")
      section.project__inner.project__inner--lg-4
        header
          h3.project__title Louis XX
        ul.project__main
          li.project__item
            | Designer:
            a.project__link(href="#")  Philippe Starck
          li.project__item
            | Typology:
            span  Chairs
          li.project__item
            | Client:
            a.project__link(href="#")  Vitra
          li.project__item
            | Year:
            span  2012
        footer.project__stats
          a.project__view(href="#")
            span.icon-view(data-svg, data-src="images/icons/link.svg")
            |  view project
          a.project__like(href="#")
            span.icon-like(data-svg, data-src="images/icons/heart.svg")
            |  + 200


    li.projects__item.project.col-md-5.project--md
      figure.project__image
        img(src="images/project/project-5@1x.jpg", alt="Project")
      section.project__inner.project__inner--lg-5
        header
          h3.project__title 395-396 P22
        ul.project__main
          li.project__item
            | Designer:
            a.project__link(href="#")  Patrick Norguet
          li.project__item
            | Typology:
            span  ARMchairs
          li.project__item
            | Client:
            a.project__link(href="#")  Cassina
          li.project__item
            | Year:
            span  2013
        footer.project__stats
          a.project__view(href="#")
            span.icon-view(data-svg, data-src="images/icons/link.svg")
            |  view project
          a.project__like(href="#")
            span.icon-like(data-svg, data-src="images/icons/heart.svg")
            |  + 200



    li.projects__item.project.col-md-4.project--xs
      figure.project__image
        img(src="images/project/project-6@1x.jpg", alt="Project")
      section.project__inner.project__inner--lg-6
        header
          h3.project__title FIJI
        ul.project__main
          li.project__item
            | Designer:
            a.project__link(href="#")  Cuno Frommherz
          li.project__item
            | Typology:
            span  Armchairs
          li.project__item
            | Year:
            span  2012
        footer.project__stats
          a.project__view(href="#")
            span.icon-view(data-svg, data-src="images/icons/link.svg")
            |  view project
          a.project__like(href="#")
            span.icon-like(data-svg, data-src="images/icons/heart.svg")
            |  + 200


    li.projects__item.project.col-md-5.project--sm
      figure.project__image
        img(src="images/project/project-7@1x.jpg", alt="Project")
      section.project__inner.project__inner--lg-7
        header
          h3.project__title Sesann
        ul.project__main
          li.project__item
            | Designer:
            a.project__link(href="#")  Gianfranco Frattini
          li.project__item
            | Typology:
            span  Armchairs
          li.project__item
            | Client:
            a.project__link(href="#")  Cassina
          li.project__item
            | Year:
            span  1970
        footer.project__stats
          a.project__view(href="#")
            span.icon-view(data-svg, data-src="images/icons/link.svg")
            |  view project
          a.project__like(href="#")
            span.icon-like(data-svg, data-src="images/icons/heart.svg")
            |  + 200


    li.projects__item.project.col-md-3.project--sm
      figure.project__image
        img(src="images/project/project-8@1x.jpg", alt="Project")
      section.project__inner.project__inner--lg-8
        header
          h3.project__title Alessi
        ul.project__main
          li.project__item
            | designer:
            a.project__link(href="#")  Piero Lissoni
          li.project__item
            | Client:
            a.project__link(href="#")  Alessi
          li.project__item
            | Year:
            span  2013
        footer.project__stats
          a.project__view(href="#")
            span.icon-view(data-svg, data-src="images/icons/link.svg")
            |  view project
          a.project__like(href="#")
            span.icon-like(data-svg, data-src="images/icons/heart.svg")
            |  + 200


    include include/_datebar