#studio.studio
  section.section-box.section-box--studio
    h2.section-box__title Studio
  .container
    .row
      section.about.col-sm-6.col-md-4.col-md-offset-4
        header.about__title
          h2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sollicitudin eros sit amet nulla rhoncus dictum.

          h2 Nam rhoncus fringilla dolor vitae vulputate. Nullam quis eros lorem. Integer cursus erat a orci congue feugiat. Cras rhoncus mollis libero, id aliquet purus varius sed.

        .about__descr
          p Aenean ullamcorper porta nisl, ac lobortis elit commodo placerat.

          p Vivamus eget laoreet enim. Sed nunc dui, egestas vel diam convallis, faucibus iaculis sapien. Sed ut vulputate nisi.

          p Proin tempor risus tellus. Maecenas sit amet fringilla urna, vel iaculis velit. Sed ac felis et sem mollis dictum sed id orci.

      section.office.col-sm-6.col-md-4
        article.office__item
          figure.office__slide
            a.office__image.-img-zoom(href="#")
              img(src="images/staff@1x.jpg", alt="Office")
            figcaption.office__title Awards
          .office__achivments.row
            p.col-xs-6
              | Aenean ullamcorper porta nisl,
              | ac lobortis elit
              | commodo placerat.
              | Vivamus
            p.col-xs-6
              | Aenean ullamcorper porta nisl,
              | ac lobortis elit
              | commodo placerat.
              | Vivamus

    .personal.row
      section.personal__board.col-md-4
        h2.personal__title STAFF.

        .personal__board-text
          p.personal__descr Sit amet laoreet sapien dictum. Sed eget eros augue. Pellentesque tempor mi sit amet nisi tincidunt tincidunt. Fusce malesuada lectus sed mauris pharetra faucibus.

          p.personal__descr Aenean diam tortor, hendrerit ac pulvinar vel, condimentum ac velit. Phasellus eu odio elit. Aenean volutpat mi quam, ut ornare augue tempus ut.

          p.personal__descr Morbi sagittis diam mauris, in adipiscing nulla convallis ut.

      .personal__list.col-sm-12.col-md-8
        .row
          article.person.col-sm-4
            figure.person__main
              a.person__image-link.-img-zoom(href="#")
                img(src="images/photo-1@1x.jpg", alt="Philippe Starck")
              a.person__title.-under(href="#")
                | Philippe Starck
              small.person__skill DESIGNER
            .person__footer
              a.person__private(href="#")
                | CV
                span.icon-link(
                  data-svg, data-src="images/icons/selected.svg"
                )
              ul.person-social
                li.person-social__item
                  a.person-social__link(href="#")
                    span.icon-social.icon-facebook(
                      data-svg, data-src="images/icons/mod-facebook.svg"
                    )
                li.person-social__item
                  a.person-social__link(href="#")
                    span.icon-social.icon-twitter(
                      data-svg, data-src="images/icons/mod-twitter.svg"
                    )
                li.person-social__item
                  a.person-social__link(href="#")
                    span.icon-social.icon-linkedin(
                      data-svg, data-src="images/icons/mod-linkedin.svg"
                    )
                li.person-social__item
                  a.person-social__link(href="#")
                    span.icon-social.icon-google(
                      data-svg, data-src="images/icons/mod-google.svg"
                    )

          article.person.col-sm-4
            figure.person__main
              a.person__image-link.-img-zoom(href="#")
                img(src="images/photo-2@1x.jpg", alt="Mario Bellini")
              a.person__title.-under(href="#")
                | Mario Bellini
              small.person__skill DESIGNER
            .person__footer
              a.person__private(href="#")
                | CV
                span.icon-link(
                  data-svg, data-src="images/icons/selected.svg"
                )
              ul.person-social
                li.person-social__item
                  a.person-social__link(href="#")
                    span.icon-social.icon-facebook(
                      data-svg, data-src="images/icons/mod-facebook.svg"
                    )
                li.person-social__item
                  a.person-social__link(href="#")
                    span.icon-social.icon-twitter(
                      data-svg, data-src="images/icons/mod-twitter.svg"
                    )
                li.person-social__item
                  a.person-social__link(href="#")
                    span.icon-social.icon-linkedin(
                      data-svg, data-src="images/icons/mod-linkedin.svg"
                    )
                li.person-social__item
                  a.person-social__link(href="#")
                    span.icon-social.icon-google(
                      data-svg, data-src="images/icons/mod-google.svg"
                    )

          article.person.col-sm-4
            figure.person__main
              a.person__image-link.-img-zoom(href="#")
                img(src="images/photo-3@1x.jpg", alt="Patricia Urquiola")
              a.person__title.-under(href="#")
                | Patricia Urquiola
              small.person__skill DESIGNER
            .person__footer
              a.person__private(href="#")
                | CV
                span.icon-link(
                  data-svg, data-src="images/icons/selected.svg"
                )
              ul.person-social
                li.person-social__item
                  a.person-social__link(href="#")
                    span.icon-social.icon-facebook(
                      data-svg, data-src="images/icons/mod-facebook.svg"
                    )
                li.person-social__item
                  a.person-social__link(href="#")
                    span.icon-social.icon-twitter(
                      data-svg, data-src="images/icons/mod-twitter.svg"
                    )
                li.person-social__item
                  a.person-social__link(href="#")
                    span.icon-social.icon-linkedin(
                      data-svg, data-src="images/icons/mod-linkedin.svg"
                    )
                li.person-social__item
                  a.person-social__link(href="#")
                    span.icon-social.icon-google(
                      data-svg, data-src="images/icons/mod-google.svg"
                    )





