li.projects__item.datebar.col-md-4
  h2.datebar__title Timeline
  ul.datebar__inner
    li.datebar__select
      span.sort-select(
        data-svg, data-src="images/icons/selected.svg"
      )
    li.datebar__item.active
      a(href="#") 2014
    li.datebar__item
      a(href="#") 2013
    li.datebar__item
      a(href="#") 2012
    li.datebar__item
      a(href="#") 2011
    li.datebar__item
      a(href="#") 2010