li.projects__item.section-box.section-box--projects
  h2.section-box__title Projects
  ul.sortbar
    li.sortbar__select
      span.sort-select(
        data-svg, data-src="images/icons/selected.svg"
      )
    li.sortbar__item.active
      a(href="#") All
    li.sortbar__item
      a(href="#") House
    li.sortbar__item
      a(href="#") Commercial
    li.sortbar__item
      a(href="#") Personal
    li.sortbar__item
      a(href="#") Studio Lab