.page-header {
  position: relative;
  margin: 0;
  background-color: $navbar-default-bg;
  padding-bottom: 0;
  border: none;
}

.navbar {
  position: relative;
  padding-top: 50px;
  margin-bottom: 0;
  min-height: 128px;

  @include mq(sm) {
    padding-top: 0;
    min-height: 82px;
  }

  .navbar-toggle {
    border-radius: 0;
  }

  &-collapse.in {
    overflow: visible;
    padding-bottom: 50px;
  }

  &-header {
    margin-top: -47px;

    @include mq(sm) {
      margin-top: 0;
    }
  }

  &-brand {
    padding: 0;
    line-height: 82px;
    vertical-align: middle;

    @include mq(xs) {
      width: 160px;
    }

    img {
      display: inline-block;
    }
  }

  &-nav {
    text-transform: uppercase;

    &__list {
      width: 100%;
      display: flex;
      justify-content: space-around;

      &:after, &:before {
        display: none;
      }

      @include mq(sm) {
        margin: 0 auto;
      }

      @include mq(xs) {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    > li {
      float: none;
    }

    > li > a {
      padding-top: 0;
      padding-bottom: 0;
      line-height: 1em;

      @include mq(sm) {
        padding-top: 15px;
        padding-bottom: 15px;
      }
    }
  }

  &__make-projects {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    border-top: 1px solid #fff;

    @include mq(sm) {
      position: static;
      border-top: none;
    }
  }
}

.jumbotron {
  height: 600px;
  margin-bottom: 0;
  background: #fff url(../images/header-banner.jpg) no-repeat 50% 0;

  > .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  h1 {
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 30px;
    line-height: 1;
  }

  &__descr, p {
    line-height: 5.3rem;
    text-transform: uppercase;
  }

  &__text-box {
    display: block;
    font-weight: 700;
  }

  @include mq(sm) {
    height: 500px;

    h1 {
      font-size: $font-size-base * 2.57;
    }

    p {
      font-size: $font-size-base * 2.57;
    }

    @include mq(xs) {
      text-align: center;

      p {
        font-size: $font-size-base * 1.71;
      }
    }
  }
}