//- Custom Configuration ( variables / settings template )
- var pad = '\n';
- var padx2 = '\n\n';

- var pageTitle = 'Associates Studio Design';
- var descrPage = 'ASSOCIATES STUDIO DESIGN';
- var appleTitle = 'ASSOCIATES STUDIO DESIGN';

- var msappColor = '\#2F3BA2';
- var themeColor = '\#2F3BA2';

- var pathTouch = 'images/touch/';

- var googleFonts = 'Roboto+Condensed';