link(href='https://fonts.googleapis.com/css?family=#{googleFonts}:400,300,300italic,400italic,700,700italic', rel='stylesheet', type='text/css')


// build:css css/main.min.css
//- bower:css
link(rel="stylesheet", href="../bower_components/normalize-css/normalize.css")
link(rel="stylesheet", href="../bower_components/wow/css/libs/animate.css")
//- endinject

//- vendor:css
//- endinject

//- main:css
link(rel="stylesheet", href="css/main.css")
//- endinject
// endbuild

