// build:js js/vendor.min.js
//- bower:js
script(src="../bower_components/jquery/dist/jquery.min.js")
script(src="../bower_components/wow/dist/wow.js")
script(src="../bower_components/masonry/dist/masonry.pkgd.min.js")
//- endinject
//- vendor:js
script(src="js/vendor/svg-injector.min.js")
//- endinject
// endbuildx


// build:js js/main.min.js
//- main:js
script(src="js/main.js")
script(src="js/plugins.js")
//- endinject
// endbuild