footer.page-footer
  .container
    .row
      a.col-xs-2.col-sm-2.page-footer__brand(href="#")
        img(src='images/logo-footer.png', alt='Компания "ACME"')

      .col-xs-10.col-sm-10.page-footer__nav
        .row
          .col-xs-6.col-sm-9
            ul.nav.navbar-nav.navbar-nav__list.page-footer__menu
              li
                a(href='#') новости
              li
                a(href='#') вакансии
              li
                a(href='#') контакты

          .col-xs-6.col-sm-3
            div.page-footer__right
              ul.social-list
                li.social-list__item
                  a(href="#").social-list__link
                    i.icon-facebook
                li.social-list__item
                  a(href="#").social-list__link
                    i.icon-twitter
                li.social-list__item
                  a(href="#").social-list__link
                    i.icon-behance

              div.mdl-search
                form#mdlSearch(method='get' role='search')
                  #mdlSearchInput.mdl-search__input(data-search)
                    input.form-control(
                      type='search',
                      placeholder='Поиск'
                    )
                  button#searchBtn.mdl-search__btn
                    i.icon-search

    ul.make-projects.make-projects--footer
      li
        a(href="#")
          img(src="images/make-wood.png", alt="ACMEWOOD")
      li
        a(href="#")
          img(src="images/make-emotion.png", alt="ACMEEMOTION")
      li
        a(href="#")
          img(src="images/make-river.png", alt="ACMERIVER")
      li
        a(href="#")
          img(src="images/make-water.png", alt="ACMEWATER")
      li
        a(href="#")
          img(src="images/make-realty.png", alt="ACMEREALTY")

    .page-footer__links
      ul.page-footer__group-links
        li
          a(href="#") презентация
        li
          a(href="#") новости

      ul.page-footer__group-links
        li
          a(href="#") презентация
        li
          a(href="#") новости

      ul.page-footer__group-links
        li
          a(href="#") презентация
        li
          a(href="#") новости

      ul.page-footer__group-links
        li
          a(href="#") презентация
        li
          a(href="#") новости

      ul.page-footer__group-links
        li
          a(href="#") презентация
        li
          a(href="#") новости

