//- Custom Configuration ( variables / settings template )

- var pad = '\n';
- var padx2 = '\n\n';

- var pageTitle = 'ACME';
- var descrPage = 'Бизнес и устойчивое лесопользование';
- var appleTitle = 'ACME';

- var msappColor = '\#2F3BA2';
- var themeColor = '\#2F3BA2';

- var pathTouch = 'images/touch/';

//- Google fonts
- var MavenPro = 'Maven+Pro:400,500,700';
- var Exo = 'Exo:400,500,300,700';