link(href='https://fonts.googleapis.com/css?family=#{MavenPro}', rel='stylesheet', type='text/css')
link(href='https://fonts.googleapis.com/css?family=#{Exo}', rel='stylesheet', type='text/css')


// build:css css/style.min.css
//- bower:css
//- endinject

//- vendor:css
//- endinject

//- main:css
link(rel="stylesheet", href="css/style.css")
//- endinject
// endbuild

