script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')

// build:js js/vendor.min.js
//- bower:js
script(src="../bower_components/jquery/dist/jquery.min.js")
script(src="../bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js")
script(src="../bower_components/formvalidation/dist/js/formValidation.js")
script(src="../bower_components/slick-carousel/slick/slick.min.js")
//- endinject

//- vendor:js
//- endinject
// endbuild


// build:js js/script.min.js
//- main:js
script(src="js/plugins.js")
script(src="js/script.js")
//- endinject
// endbuild